.App {
  width: calc(100%-175px);
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0B0C0E;
}

.home, .electricity, .statistics, .solar {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding: 0;
  color: white;
}