.notifications {
    float: left;
    width: calc(100% - 215px);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 20px;
}

.notif {
    color: white;
}
